.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  color: #00d8ff;
}

.Madlib-text {
  color: white;
  font-size: 32px;
  font-weight: normal;
  font-family: Georgia,serif; 
}

.Form {
  font-size: 16px;
}
